table {
    border-spacing: 1px;
    border: 1px solid white;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: #283c34;
    text-align: center;
    font-size: 14px;
    width: 90%;
}
th, td {
    margin: 0;
    /*padding: 0.5rem;*/
    padding: 10px 15px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/*th {*/
/*    background: ;*/
/*}*/